:root {
    /* Primary */

    --Blue-100: hsl(225, 100%, 94%);
    --Blue-700: hsl(245, 75%, 52%);

    /* Neutral */

    --Blue-50: hsl(225, 100%, 98%);
    --Gray-600: hsl(224, 23%, 55%);
    --Blue-950: hsl(223, 47%, 23%);

    --White: hsl(0, 0%, 100%);
}

body {
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Blue-100);
    height: 100vh;
}

a {
    color: var(--Blue-700);
    font-size: 0.844rem; /* 13.5px */
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

a:hover, .payment-btn:hover {
    opacity: 70%;
}

button {
    font-family: "Red Hat Display", sans-serif;
    border: none;
    font-weight: 800;
    padding: 1em 0; /* 15px */
    border-radius: 0.75em; /* 11.25px */
    font-size: 0.938rem; /* 15px */
    cursor: pointer;
}

h1 {
    font-size: 1.375rem; /* 22px */
    font-weight: 800;
}

h1, h2 {
    color: var(--Blue-950);
    margin: 0;
}

h2 {
    font-size: 0.906rem; /* 14.5px */
    font-weight: 800;
}

section {
    display: flex;
    flex-direction: column;
    width: 325px;
    border-radius: 1.125em; /* 18px */
    text-align: center;
    background-color: var(--White);
    margin: 0 0 0.875em 0; /* 14px */
}

p {
    font-size: 0.938rem; /* 15px */
    font-weight: 400;
}

p, .cancel-payment-btn {
    color: var(--Gray-600);
}

.hero-banner {
    width: 100%;
    border-radius: 1.125em 1.125em 0 0;
}

.order-summary-content {
    margin: 1.5em 1.5em 1em 1.5em; /* 16px 24px */
}

.summary-description {
    line-height: 1.8em; /* 28.8px */
    padding: 0 0.5em; /* 8px */
    letter-spacing: 0.028em; /* 0.45px */
    margin: 1em 0 1.5em 0; /* 16px 24px */
}

.plan-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Blue-50);
    border-radius: 0.703em; /* 11.248px */
    padding: 1em; /* 16px */
    margin: 0 0 1.5em 0; /* 24px */
}

.plan-details-left {
    display: flex;
    align-items: center;
}

.music-icon {
    display: block;
    margin: 0 1.25em 0 0; /* 20px */
}

.pricing-details {
    display: flex;
    flex-direction: column;
    gap: 0.2em; /* 0.32px */
}

.plan-price {
    margin: 0;
    font-size: 0.906rem; /* 14.5px */
}

.order-actions {
    display: flex;
    flex-direction: column;
    gap: 0.25em; /* 4px */
}

.payment-btn {
    background-color: var(--Blue-700);
    color: var(--White);
}

.cancel-payment-btn {
    background: none;
}

.cancel-payment-btn:hover {
    color: var(--Blue-950);
}

.attribution {
    display: none;
    font-size: 0.625rem; /* 10px */
    color: var(--Blue-950);
}

.attribution a {
    color: var(--Blue-700);
    font-size: 0.625rem; /* 10px */
}


@media (min-width: 768px) {

    a {
        font-size: 0.781rem; /* 12.5px */
    }

    button {
        font-size: 0.813rem; /* 13px */
    }

   h1 {
        font-size: 1.5rem; /* 24px */
   }

   section {
        width: 400px;
   }

   .order-summary-content {
        margin: 2.5em 2.5em 1.5em 2.5em; /* 48px 32px */
   }

   .summary-description {
        font-size: 0.906rem; /* 14.5px */
        padding: 0 1em; /* 14.5px */
        font-weight: 400;
    }

    .plan-details-container {
        padding: 1.25em; /* 20px */
        margin: 0 0 1.5em 0; /* 24px */
    }

    .music-icon {
        width: 30%;
    }

    .order-actions {
        gap: 0.75em; /* 12px */
    }

    .attribution {
        display: block;
    }
}