:root {
    /* Primary */

    --Blue-100: hsl(225, 100%, 94%);
    --Blue-700: hsl(245, 75%, 52%);

    /* Neutral */

    --Blue-50: hsl(225, 100%, 98%);
    --Gray-600: hsl(224, 23%, 55%);
    --Blue-950: hsl(223, 47%, 23%);
}

body {
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 345px;
    border-radius: 1.125em;
    text-align: center;
}

p {
    font-size: 1rem;
}

.hero-banner {
    width: 100%;
    border-radius: 1.125em 1.125em 0 0;
}

.plan-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-actions {
    display: flex;
    flex-direction: column;
}