:root {
    /* Primary */

    --Blue-100: hsl(225, 100%, 94%);
    --Blue-700: hsl(245, 75%, 52%);

    /* Neutral */

    --Blue-50: hsl(225, 100%, 98%);
    --Gray-600: hsl(224, 23%, 55%);
    --Blue-950: hsl(223, 47%, 23%);

    --White: hsl(0, 0%, 100%);
}

body {
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Blue-100);
    height: 100vh;
}

a {
    color: var(--Blue-700);
    font-size: 0.813rem; /* 13px */
    font-weight: bold;
}

button {
    font-family: "Red Hat Display", sans-serif;
    border: none;
    font-weight: 800;
    padding: 1em 0; /* 15px */
    border-radius: 0.75em; /* 11.25px */
    font-size: 0.938rem; /* 15px */
}

h1 {
    font-size: 1.375rem; /* 22px */
    font-weight: 800;
}

h1, h2 {
    color: var(--Blue-950);
    margin: 0;
}

h2 {
    font-size: 0.875rem; /* 14px */
    font-weight: 800;
}

section {
    display: flex;
    flex-direction: column;
    width: 345px;
    border-radius: 1.125em; /* 18px */
    text-align: center;
    background-color: var(--White);
}

p {
    font-size: 0.938rem; /* 15px */
    font-weight: 550;
}

p, .cancel-payment-btn {
    color: var(--Gray-600);
}

.hero-banner {
    width: 100%;
    border-radius: 1.125em 1.125em 0 0;
}

.order-summary-content {
    margin: 1.5em; /* 24px */
}

.summary-description {
    line-height: 1.5em; /* 24px */
    padding: 0 1em; /* 16px */
    letter-spacing: 0.03em; /* 0.48px */
    text-align: center;
}

.plan-details-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Blue-50);
    border-radius: 0.703em;
    padding: 1em; /* 16px */
    margin: 0 0 1.5em 0; /* 24px */
}

.plan-details-left {
    display: flex;
    align-items: center;
}

.music-icon {
    margin: 0 1em 0 0; /* 16px */
}

.pricing-details {
    display: flex;
    flex-direction: column;
}

.plan-price {
    margin: 0;
    font-size: 13.5px;
    font-weight: 500;
}

.order-actions {
    display: flex;
    flex-direction: column;
}

.payment-btn {
    background-color: var(--Blue-700);
    color: var(--White);
}

.cancel-payment-btn {
    background: none;
}